<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="NodeModulesDir" Name="node_modules" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ConnectorNodeModulesFiles" />
  </Fragment>
</Wix>
